*{
    margin: 0;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #ffd6e7, #d9e7ff);

}

.main-body{
    background-color: white;
    width: min(500px, 92vw);
    min-height: 300px;
    height: auto;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.12);
    border-radius: 5px;
    padding: 20px;
}
.main-heading{
    text-align: center;

}

.main-heading h1{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #222;
}

.inp{
    margin-top: 15px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.inp input{
    width: 70%;
    border-radius: 10px;
}


ul{
    margin-top: 20px;
    padding-left: 0;     
}

li{
    background: #f8f9ff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 12px;
    margin-bottom: 12px;

    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.06);
}
.complete{
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.complete:hover{
    background-color: #e63a3a;
}
